#
# .gitignore 2016-06-19 14:04:08
probo
log
*.log

## C.gitignore
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

## Autotools.gitignore
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
#/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

## 2016-07-14 17:47:42 config関係
/config.*
.deps/
Makefile

## 2016-10-11 16:28:57 cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
#Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build*/
